body{
  width: 100em;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: url("img/backgr2.jpg") center/cover;
  border-image: fill 0 linear-gradient(#000000, rgba(0, 0, 0, 0.6), rgba(103, 80, 145, 0.6), rgba(114, 65, 65, 0.6))
}
.result { 
width: 220px;
height: 40px;
border-radius: 10px;
margin-top: 10px;
margin-bottom: 7px;         /* отступ снизу */
padding-right: 7px;         /* выступ справа */
background: rgb(58, 57, 57); /* цвет можно задавать и таким образом */
text-align: right;           /* примагнитим текст к правой стороне */
color: #bfe6e6;              /* цвет текста белый */
font-size: 1.8rem;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.my-btn { 
margin-right: 5px;           /* задаем отступ от кнопки справа */
margin-top: 5px;             /* задаем отступ от кнопки сверху*/
width: 50px;                 /* задаем ширину кнопки */
height: 50px;                /* задаем высоту кнопки */
border-radius: 10px;          /* округляем кнопку */
border: none;                /* отключаем обводку */
background: #516463;         /* задаем серый цвет кнопки */
color: white;                /* задаем белый цвет текста внутри кнопки */
font-size: 1.5rem;           /* увеличим размер шрифта */
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* сменим шрифт */
cursor: pointer;             /* при наведении на кнопку курсор будет изменен со стрелки на 'указательный палец' */
user-select: none;           /* отключаем возможность выделить текст внутри кнопки */
} 
.my-btn.execute { 
width: 50px;          /* сделаем кнопку шире других */
border-radius: 10px;   /* подкорректируем округлость */
}
.my-btn.zero { 
width: 110px;          /* сделаем кнопку шире других */
border-radius: 10px;   /* подкорректируем округлость */
}
.my-btn.primary { 
background: #01b7ff; /* цвет кнопки оранжевый */
}
.my-btn.secondary { 
background: #829ca0; /* цвет кнопки сервый */
}
.my-btn:active {
filter: brightness(130%); /* увеличим интенсивность цвета для эффекта вспышки */
}
.my-btn:hover {
filter: brightness(120%); /* при наведение курсора на кнопку, она будет окрашена в серый */
}
.calc-background {
display: grid;
place-items: center;
width: 250px;
height: 353px;          
background: #141414;
border-radius: 10px;
margin-top: -400px;
}
.ldtheme{
width: 50px;
height: 50px;
font-size: 2rem;
margin-top: 20px;
background-color: #516463;
border-radius: 50%;
cursor: pointer;             /* при наведении на кнопку курсор будет изменен со стрелки на 'указательный палец' */
user-select: none; 
color: rgb(255, 255, 255);
}
.spisok{
width: 100px;
height: 50px;
font-size: 2rem;
margin-right: 20px;
margin-bottom: 100px;
background-color: #516463;
color: rgb(255, 255, 255);
border-radius: 15px;
}
.spisok2{
  background-color: #516463;
  font-size: 1.5rem;
  margin-top: 10px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text{
  width: 300px;
  color: white;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}